{% extends 'flatpages/default.html' %}

{% block title%}
News
{% endblock title%}

{% block content %}
    <h1>Cписок всех постов</h1>
    {% if news %}
        <table>
            <tr>
                <td>Название</td>
                <td>Дата публикации</td>
                <td>Описании статьи</td>
            </tr>
            {% for post in news %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.time_in_Post}}</td>
                <td> {{ post.text|truncatechars:20 }} </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}
{% endblock content %}